<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/Subpage.css') }}"><!--เรียกstyleจากโฟลเดอร์ตามด้วยชื่อไฟล์-->
      <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin' rel='stylesheet' type='text/css'>
      <!--<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type=text/javascript src="{{url_for('static', filename='js/calculate.js') }}"></script>
      <!--icon Browser--><link rel="icon" href="{{ url_for('static', filename='image/icon_covid.png') }}" type="image/gif" sizes="16x16">
      <title>Covid</title>
      <style>
         a {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
      </style>
    </head>
   <body class="Covidbd">
      <!--
      <script>{{result['ผู้ป่วยรุนแรง']}}{{result.values()}}
      </script>{{ result|safe }}
      -->
      <div class="minibox">
         <form action = "/result" method = "POST"> 
            <button class="tablink" value="Investing" name="button">ราคาสกุลเงินดิจิตอล</button>
            <button class="tablink" value="Covid" name="button">Covid-19 ในประเทศไทย</button>
            <button class="tablink" value="Oil" name="button">ราคาน้ำมัน Shell</button>
            <button class="tablink" value="Credit" name="button">Credit</button>
         </form>
         <h1 align="center">Covid-19</h1>
         <table align="center">
            {% for key, value in result.items() %}
               <tr>   
                  <td>{{ key }}</td>
                  <td style="text-align:right">{{ value }}</td>
               </tr>
            {% endfor %} 
         </table>
         <br>
         <!--{{ dataDisease | safe}}
         <span id="data"></span>-->
      </div>
      <div id="piechart" class="chart"></div>
      <script>
         var dataDisease = JSON.parse('{{ dataDisease | safe}}');
         //document.getElementById('data').innerHTML=data.เสียชีวิต;
         var stack = parseInt((dataDisease.ผู้ป่วยสะสม).replace(/,/g, ''));
         var newwer = parseInt((dataDisease.ผู้ป่วยรายใหม่).replace(/,/g, ''));
         var heavy = parseInt((dataDisease.ผู้ป่วยรุนแรง).replace(/,/g, ''));
         var dead = parseInt((dataDisease.เสียชีวิต).replace(/,/g, ''));
         //document.getElementById('data').innerHTML = dataDisease;
      </script>
   </body>
</html>
